<div class = "main_content" style= "margin-left: 230px;" >
        <div class = "image_info" >
          <div class = "image_info2">
            <h4 class = "head4 htip">ImageName: <%=@image.name%></h4>
            <h4 class = "head4 htip">ImageTag: <%=@image.tag%></h4>
            <h4 class = "head4 htip">AppliedFilters: <%=@image.appliedFilters%></h4>
          </div>
        </div>
        <div class = "image">
          <%=link_to image_tag(@image.url,size:"500")%>
        </div>       
      </div>