<div>
<footer class="footer">
	<div style= "margin-left:80px;">
  <small >
     The <a href="#">Majik</a>
     is your images butler</a>
  </small>
</div>
<div style= "margin-right: 100px;">
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</div>
</footer>
</div>